<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDptHg0TnmZfHJ7unKzJPtmO3wtWmc_ZeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>914430193688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nutritutionai</string>
	<key>PROJECT_ID</key>
	<string>nutritution-a-i-0pxgmw</string>
	<key>STORAGE_BUCKET</key>
	<string>nutritution-a-i-0pxgmw.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914430193688:ios:9f1de2700bc6a00b21d36d</string>
</dict>
</plist>